lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
pids
.log
results
tmp
coverage
.env
node_modules
bower_components
.idea
*.iml
.DS_Store
Thumbs.db
dist/**/*
lib/**/*
yarn.lock
.prettierrc
.vscode/
.circleci/