<div class="page-container page-folder-people page-name-add">
	<h1>Add Person</h1>

	<form method="POST" action="/people/api/insert" style="max-width: 400px;">
		<input type="text" id="name" name="name" placeholder="Enter name..." style="width: 100%; margin-bottom: 15px; padding: 8px;" />
		<br />
		<input type="datetime-local" id="dob" name="dob" style="width: 100%; margin-bottom: 15px; padding: 8px;" />
		<br />
		<input type="text" id="postcode" name="postcode" placeholder="Enter postcode..." style="width: 100%; margin-bottom: 15px; padding: 8px;" />
		<br />
		<select id="position" name="position" style="width: 100%; margin-bottom: 15px; padding: 8px;">
			<option value="Manager" selected>Manager</option>
			<option value="Developer">Developer</option>
			<option value="Designer">Designer</option>
		</select>
		<br />
		<button>Submit</button>
	</form>
</div>