<div class="page-container page-folder-people page-name-list">
	<h1>People Audit Log</h1>

	<p id="status">Connection Status: Disconnected</p>

	<ul id="list">
		<!-- Items Injected -->
	</ul>
</div>

<script>

	// Define and setup variables.
	const socket = new WebSocket(`ws://${window.location.hostname}:${window.location.port}/ws`);
	const listElement = document.getElementById('list');
	const statusElement = document.getElementById('status');

	socket.addEventListener('open', () => {
		statusElement.innerHTML = `Connection Status: Connected`;
		console.log('Socket Open');
	});

	socket.addEventListener('close', (event) => {
		statusElement.innerHTML = `Connection Status: Disconnected`;
		console.log('Socket Closed', event);
	});

	socket.addEventListener('error', (event) => {
		statusElement.innerHTML = `Connection Status: Disconnected (Error)`;
		console.log('Socket Error', event);
	});

	socket.addEventListener('message', (event) => {
		const packet = JSON.parse(event.data);
		const listItemElement = document.createElement('li');
		listItemElement.innerText = packet.content.entry;
		listElement.appendChild(listItemElement);
	});
</script>